<h2>Product management via API</h2>

<div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search Products" (keyup.enter)="onSearch()" />
    <button (click)="onSearch()">Search</button>
</div>
<div class="add-product">
    <h3>Add new product</h3>
    <input [(ngModel)]="newProduct.title" placeholder="Product Title" />
    <input [(ngModel)]="newProduct.description" placeholder="Description" />
    <input type="number" [(ngModel)]="newProduct.price" placeholder="Price" />
    <button (click)="addProduct()">Add Button</button>

</div>

<hr />

<div class="product-list">
    <h3>Available Products</h3>
    <table border="1" cellPadding="8" cellPadding="0">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
                <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.title}}</td>
                        <td>{{product.description}}</td>
                        <td>${{product.price}}</td>
                        <td>
                            <img *ngIf="product.thumbnail" [src]="product.thumbnail" alt="{{product.title}}" style="width: 60px; height: 60px; object-fit: cover; border-radius: 6px;" />
                        </td>
                        <td>
                            <button (click)="updateProduct(product)">Edit</button>
                            <button (click)="deleteProduct(product.id!)">Delete</button>
                        </td>
                </tr>
    </table>
</div>

<div class="pagination">
    <button (click)="previousPage()" [disabled]="skip ===0">Previous</button>
    <button (click)="nextPage()" [disabled]="skip + limit >= total">Next</button>
</div>